html {
    width: 300px;
    height: 545px;
}
.url{
    position: relative;
    padding-left: 10px;
    width: 43%;
    border-radius: 8px;
    border:1px solid #e7e7e7; color: black;
}
.btn{
    position: relative;
    border:1px solid #e7e7e7; color: black;;
    background-color: #26b2e0;
    border-radius: 8px;
}
#add{
    margin-left: 36%;
}
#deleteAll{
    margin-left: 40px;
}
.content{
    border:1px solid #e7e7e7; color: black;
    width: 97%;
    height: 96px;
    border-radius: 8px;
}
.history{
    border:1px solid #e7e7e7; color: black;
    width: 97%;
    height: 345px;
    border-radius: 8px;
    text-align: center;
}

.contentUrl{
    border:1px solid #e7e7e7; color: black;
    border-radius: 8px;
    width: 97%;
    margin: 3px;
}
a {
    text-decoration:  rgba(0, 0, 0, 0.911);
}
/*正常的未被访问过的链接*/
a:link {
    color: #26b2e0;
}
/*已经访问过的链接*/
a:visited {color: #26b2e0;
}
/*鼠标划过(停留)的链接*/
a:hover {
    color: #26b2e0;
}
/* 正在点击的链接*/
a:active {
    color: #26b2e0;
}